VITE_SUPABASE_URL=https://lehtyuahhpqrglnvnxbh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaHR5dWFoaHBxcmdsbnZueGJoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg3ODc5NzcsImV4cCI6MjEwNDM2Mzk3N30.a24VWdduruUZhDz6EDPfQb7BHg2wFLAnz8ns2uP7oM8
